@import "tailwindcss";

:root {
  --bg-main: #f2e3c0; 
  --text-primary: #402c2c; 
  --primary-accent: #4b0505; 

  /* UI Backgrounds & Surfaces */
  --bg-surface: #fcf5c9; 
  --border-subtle: #eddfbd; 
  --text-secondary: #6d6d6d; 

  /* Heatmap Scale (Cold to Hot) on Light */
  --heatmap-cold: #d3c7e9; 
  --heatmap-mid: #9d7fe6; 
  --heatmap-hot: #ec4d63; 
}
